<h1>Listing forms</h1>

<table>
  <tr>
  </tr>

<% @forms.each do |form| %>
  <tr>
    <td><%= link_to 'Show', form %></td>
    <td><%= link_to 'Edit', edit_form_path(form) %></td>
    <td><%= link_to 'Destroy', form, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New form', new_form_path %>