<div id="main-content" class="no-nav">
  <div id="wide_slot_0" class="component contact-form">
  <%= render :partial => 'noodall/form_responses/form', :locals => {:form_response => @form_response, :form => @form} %>
  </div>
</div>