<% for field in @form.fields %>
    <tr>
      <td><%= field.name %></td>
      <td><%= @response.send(field.underscored_name) if @response.respond_to?(field.underscored_name) %></td>
    </tr>
<% end %>
