<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Your Form CSV Download is ready!</p>
    <p><%= link_to('Download CSV', noodall_admin_download_path(@download)) %></p>
  </body>
</html>
